<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>数据提交：</h1>
<form action="/query/" method="post">
    <p>添加书籍<input type="text" name="bookname"></p>
    <p>添加作者<input type="text" name="authorname"></p>
    <p><input type="submit" name="submit"></p>
</form>

<hr>
<h1>数据展示：</h1>
<table border="1">
        <tr>
            <td>书名</td>
            <td>作者</td>

        </tr>
        {% for data in book_list %}
            <tr>
                <td> {{ data.bookname }} </td>
                <td> {{ data.authorname }} </td>
                <td> <a href="/query/{{ data.bookid }}">删除</a> </td>

            </tr>
        {% endfor %}

</table>
</body>
</html>